body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
 height: 69px;
 border-bottom: 1px solid seashell;
 position: fixed;
 width: 100%;
 display: inline-flex;
 flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#titleLogo {
  height: 50px;
  padding-left: 10px;
}

.navBar {
  text-decoration: underline;
  list-style-type: none;
  text-align: center;
  text-align: right;
  flex-grow: 1;
}

.navBar li {
  padding: 0px 15px;
  display: inline-block;
}

.navBar li a {
  color: seashell;
}
